{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "warn",
    "no-nested-ternary": "off",
    "no-multi-spaces": "warn",
    "no-empty": "warn",
    "no-trailing-spaces": "warn",
    "keyword-spacing": "warn",
    "space-infix-ops": "warn",
    "space-in-parens": [
      "warn",
      "never"
    ],
    "import/no-named-as-default-member": "warn",
    "import/no-cycle": "warn",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "react/jsx-curly-newline": "warn",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/semi": "warn",
    "no-underscore-dangle": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-closing-tag-location": "warn",
    "react/self-closing-comp": "off",
    "react/no-unused-prop-types": "warn",
    "react/jsx-tag-spacing": "warn",
    "eqeqeq": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "object-curly-spacing": ["warn", "always"],
    "space-before-blocks": "warn",
    "no-restricted-globals": "warn",
    "prefer-template": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/member-delimiter-style": "warn",
    "array-callback-return": "warn",
    "no-useless-return": "warn",
    "eol-last": "off",
    "prefer-const": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "@typescript-eslint/indent": ["warn", 2],
    "react/jsx-max-props-per-line": ["warn", { "when": "multiline" }],
    "spaced-comment": "warn",
    "@typescript-eslint/type-annotation-spacing": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/brace-style": "warn",
    "prefer-destructuring": "off",
    "lines-between-class-members": "warn",
    "object-shorthand": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "no-debugger": "warn",
    "react/jsx-first-prop-new-line": "warn",
    "no-restricted-properties": "warn",
    "no-fallthrough": "warn",
    "array-element-newline": ["warn", "consistent"],
    "array-bracket-newline": ["warn", "consistent"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "react/jsx-props-no-multi-spaces": "warn",
    "react/jsx-boolean-value": "warn",
    "no-lonely-if": "warn",
    "no-else-return": "warn",
    "no-var": "warn",
    "vars-on-top": "warn",
    "react/jsx-pascal-case": "warn",
    "no-self-compare": "warn",
    "one-var": "off",
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "object-curly-newline": ["warn", {"multiline": true, "consistent": true}],
  }
}