<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539438624913-0qfjqbvanl26p6u3joiuhdru1ogi6hou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539438624913-0qfjqbvanl26p6u3joiuhdru1ogi6hou</string>
	<key>API_KEY</key>
	<string>AIzaSyBLQNnq7z_uC0_offk8PRLTfgVLBPr5Z5w</string>
	<key>GCM_SENDER_ID</key>
	<string>539438624913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qstudio.floos</string>
	<key>PROJECT_ID</key>
	<string>oxygen-665</string>
	<key>STORAGE_BUCKET</key>
	<string>oxygen-665.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539438624913:ios:e70fc7a7500a2225b70f30</string>
</dict>
</plist>